html {
	scroll-padding-top: 100px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	border: 2px solid black;
	background-color: rgba(100%, 100%, 100%, 0.5);
}

#target {
	margin: 120vh 0;
	padding: 20px;
	text-align: center;
	box-sizing: border-box;
	border: 2px solid red;
}